.App {
  margin: 0 auto;
  font-family: "Poppins", "Raleway", sans-serif;
  color: #424344;
}
.App #weather-container {
  display: flex;
  justify-content: center;
}
.App footer {
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
}
