.WeatherInfo #city-head {
  font-size: 30px;
}
.WeatherInfo .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 0;
  margin: 0 auto;
}
.WeatherInfo ul {
  padding: 0;
  margin: 0 auto;
}
.WeatherInfo li {
  font-size: 16px;
  list-style: none;
  line-height: 21px;
}
.WeatherInfo canvas {
  padding: 5%;
  background: seashell;
  border-radius: 50%;
}
.WeatherInfo #icon {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0;
  text-align: end;
}
.WeatherInfo #temp {
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
