.Weather {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 16px;
  margin: 30px;
  border: 1px solid #424344;
  border-radius: 4px;
  max-width: 600px;
}
@media (max-width: 400px) {
  /* For mobile phones: */
  .Weather {
    width: 100%;
  }
  .Weather form {
    margin-bottom: 20px;
  }
  .Weather #button {
    margin-top: 2px;
    padding: 4px;
    background: #7ca6ba;
    border: 1px solid #7ca6ba;
  }
}
.Weather form {
  margin-bottom: 20px;
}
.Weather #button {
  margin-top: 2px;
  padding: 4px;
  background: #7ca6ba;
  border: 1px solid #7ca6ba;
}
